* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/bg.png');
    background-size: cover;
    color: aliceblue;
}

.github-profile-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-wrapper {
    margin: 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 1rem;
    /* Add any other styles you desire */
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    /* Add any other styles you desire */
}

button:hover {
    background-color: whitesmoke;
    color: #000000;
    font-weight: bold;
}

button:active {
    background-color: white;
    color: #1a1919;
}

.user-container {
    border: #000 solid 2px;
    border-radius: 40px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.avatar {
    width: 250px;
    border: #fff solid 2px;
    border-radius: 50%;
}

.user-name {
    margin-top: 0.5rem;
    font-size: 3.5rem;
    text-align: center;
}

.user-name a {
    color: #fff;
    text-decoration: none;
}

.user-data {
    margin-top: 2rem;
}

.user-data p {
    font-size: 2rem;

}